.vs/
.vscode/
.ipynb_checkpoints/
.venv/
__pycache__/
build/
Debug/
Release/
poetry.lock
/kobuki/src/*/
!/kobuki/src/webcface/
!/kobuki/src/kobuki_webcface/
/kobuki/install/
/kobuki/log/
/opencv/
*.dll
*.xml
*.so*
