[submodule "webcface-python"]
	path = webcface-python
	url = https://github.com/na-trium-144/webcface-python.git
[submodule "kobuki/src/webcface"]
	path = kobuki/src/webcface
	url = https://github.com/na-trium-144/webcface.git

[submodule "webcface-windows-package"]
	path = webcface-windows-package
	url = https://github.com/na-trium-144/webcface-windows-package
[submodule "webcface-tools"]
	path = webcface-tools
	url = https://github.com/na-trium-144/webcface-tools
